body {
  width: 400px;
  margin: 0 auto;
}

.add-income-form {
  width: 300px;
  margin: 0 auto;
}

.income-pill {
  background-color: #437746;
  border-radius: 15px;
  padding: 5px 10px;
}

.expanse-pill {
  background-color: #D0667A;
  border-radius: 15px;
  padding: 5px 10px;
}

.balance-pill {
  background-color: #57afeb;
  border-radius: 15px;
  padding: 5px 10px;
}

.edit {
  margin-right: 5px;
  background-color: #645BF5;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
}

.delete {
  background-color: #EB4232;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
}

.add-btn {
  background-color: #57AFEB;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
}

/* .add-btn:hover {
  background-color: #4b99ce;
} */